.container{
    position: relative;
    top: 20px;
}
ul {
    list-style-type: none;
    background-color: rgb(34, 34, 90);
    overflow: hidden;
  }
  li {
    float: left;
    padding-left:250px;
  }
  li a {
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-style: italic;
    font-family: fantasy;
    font-size: 35px;
  }
  li a:hover {
    background-color: #27242450;
    color: bisque;
  }
  @media only screen and (max-width: 600px){
    li {
      padding-left:65px;
    }
    ul {
      background-color: rgb(90, 34, 67);
    }
  }
  
  